<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="section-heading">
            <h1>portfolio</h1>
            <h6>View some of my recent work</h6>
        </div>
        <!-- <div class="portfolio-item">
            <div class="portfolio-img has-margin-right" >
                <img src="assets/images/portitem1.jpeg" alt="">
            </div>
            <div class="portfolio-description" data-aos="fade-left" data-aos-delay="600">
                <h6>Web Development</h6>
                <h1>Blog Website</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, explicabo!
                </p>
                <a href="" class="cta">View Details</a>
            </div>
        </div> -->
        <div class="portfolio-item">
            <div class="portfolio-description has-margin-right" >
                <h6>Web Design</h6>
                <h1>laboratory</h1>
                <p>
                    I designed a website for a medical analysis laboratory
                </p>
                <a href="project/index.html" target=”_blank” class="cta">View Page</a>
            </div>
            <div class="portfolio-img " >
                <img src="assets/images/sample.png" alt="">
            </div>  
        </div>
        <div class="portfolio-item">
            <div class="portfolio-img has-margin-right" >
                <img src="assets/images/portitem3.jpeg" alt="">
            </div>
            <div class="portfolio-description" >
                <h6>Web Design</h6>
                <h1>Other Works</h1>
                <p>
                    Here You can contact me to show you my other design, feel free to ask me about them by contacting me.
                </p>
                <a href="#contact" class="cta">contact me</a>
            </div>
        </div>
    </div>
</section>