<div class="landing-text">
  <h1>Noureddin dheifallah</h1>
  <h6>i make things that make people happy</h6>
  <div class="my-photo">
    <img class="photo" src="assets/images/noor.jpg" alt="">
  </div>
</div>


<!-- End color changer -->
<app-about-me></app-about-me>
<!-- education -->
<app-educations></app-educations>
<!-- My Programming Skills  -->
<app-skills></app-skills>
<!-- exp -->
<app-experience></app-experience>
<!-- services  -->
<app-porto-services></app-porto-services>
<!--  -->
<app-portfolio></app-portfolio>
