
<div class="container">

  <p>profile works!</p>

  <br />
  <br />
  <!-- ?nour -->
  --------------------------------------------- Education ---------------------------------------------
  <br />
  <br />
  <!--<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>-->

  <div class="d-inline-block">
    <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor >Toggle dropdown</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </div>
  
  <button class="btn btn-outline-success mr-2">Open from outside</button>
  <button class="btn btn-outline-danger mr-2">Close from outside</button>

  
  <div class="row">
    <div class="col-sm-2">
      Organization Name :
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="univirsity name"/>
    </div>
  </div>

  <br />
  --------------------------------------------- Education ---------------------------------------------
  <br />

  <div class="row">
    <div class="col-sm-2">
      Organization Name :
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="univirsity name" name="txtOrgName" #txtOrgName ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Organization Title :
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="school, univirsty, ..." name="txtOrgTitle" #txtOrgTitle ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Specialty :
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <input type="text" placeholder="ex : computer sciences" name="txtSpecialty" #txtSpecialty ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Degree :
    </div>
    <div class="col-sm-4">
      <!--<input type="text" placeholder="ex : Bachelor's, Master's" name="txtDegree" #txtDegree ngModel />
      select option-->
      <select name="ddlDegree" id="ddlDegree" #txtDegree ngModel>
        <!--ngModel-->
        <option value="Diploma">Diploma</option>
        <option value="Bachelor">Bachelor</option>
        <option value="Masters">Masters</option>
        <option value="PhD">PhD</option>
      </select>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Appreciation :
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="ex : Good, Very Good" name="txtAppreciation" #txtAppreciation ngModel />
      select option
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Start Date :
    </div>
    <div class="col-sm-4">
      <input type="datetime" name="txtStartDate" #txtStartDate ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      End Date :
    </div>
    <div class="col-sm-4">
      <input type="datetime" name="txtEndDate" #txtEndDate ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Certificate :
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="ex : Bachelor of Computer Science" name="txtCertificate" #txtCertificate ngModel />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      Graduation Project :
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="Project Name" name="txtGraduationProject" #txtGraduationProject ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Graduation Project Description :
    </div>
    <div class="col-sm-4">
      <textarea type="text" name="txtDescription" #txtDescription ngModel></textarea>
    </div>
  </div>

  <br />
  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name </th>
        <th>Specialty </th>
        <th>Degree </th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edu in educations">
        <td>edu.OrganizationName</td>
        <td>edu.Specialty</td>
        <td>edu.Degree</td>
        <td>edu.StartDate</td>
        <td>edu.EndDate</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-4">
      <input type="button" value="Add Education"
             (click)="SaveEducation(
               txtOrgName.value,
               txtOrgTitle.value,
               txtSpecialty.value,
               txtDegree.value,
               txtAppreciation.value,
               txtStartDate.value,
               txtEndDate.value,
               txtCertificate.value,
               txtGraduationProject.value,
               txtDescription.value)" />
    </div>
  </div>

  <!--<br />
  <br />
  --------------------------------------------- Experience ---------------------------------------------
  <br />
  <br />
  Experience
  <div class="row">
    <div class="col-sm-2">
      Workplace :
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="ex : Company name" name="txtWorkplace" #txtWorkplace ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Job Title :
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="software Engineer, developer, ..." name="txtTitle" #txtTitle ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Job Description :
    </div>
    <div class="col-sm-4">
      <textarea type="text" name="txtJobDescription" #txtJobDescription ngModel></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Start Date :
    </div>
    <div class="col-sm-4">
      <input type="datetime" name="txtJobStartDate" #txtJobStartDate ngModel />
      <input type="checkbox" name="cbStillWork" #cbStillWork ngModel value="Currently Working" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      End Date :
    </div>
    <div class="col-sm-4">
      <input type="datetime" name="txtJobEndDate" #txtJobEndDate ngModel />
    </div>
  </div>

  <br />
  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Workplace </th>
        <th>Title </th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exp in experiences">
        <td>exp.Workplace</td>
        <td>exp.Title</td>
        <td>exp.StartDate</td>
        <td>exp.EndDate</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-4">
      <input type="button" value="Add Experience"
             (click)="SaveExperience(
               txtWorkplace.value,
               txtTitle.value,
               txtJobDescription.value,
               txtJobStartDate.value,
               txtJobEndDate.value)" />
    </div>
  </div>

  <br />
  <br />
  --------------------------------------------- Image ---------------------------------------------
  <br />
  <br />
  Image
  <div class="row">
    <div class="col-sm-2">
      Image Name :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtImageName" #txtImageName ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Image :
    </div>
    <div class="col-sm-4">
      <input type="file" name="imgURI" #imgURI ngModel />
    </div>
  </div>

  <br />
  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name </th>
        <th>Image </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="img exp in Images">
        <td>img.Name</td>
        <td>img.URI</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-4">
      <input type="button" value="Add Image"
             (click)="SaveImage(
               txtImageName.value,
               imgURI.value)" />
    </div>
  </div>

  <br />
  <br />
  --------------------------------------------- Portofolio ---------------------------------------------
  <br />
  <br />
  Portofolio
  <div class="row">
    <div class="col-sm-2">
      Project Name :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtProjectName" #txtProjectName ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Role :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtRole" #txtRole ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Project Image :
    </div>
    <div class="col-sm-4">
      <input type="file" name="txtProjectImage" #txtProjectImage ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Project Description :
    </div>
    <div class="col-sm-4">
      <textarea type="text" name="txtProjectDescription" #txtProjectDescription ngModel></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Link :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtProjectLink" #txtProjectLink ngModel />
    </div>
  </div>

  <br />
  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name </th>
        <th>Role </th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let porto in portofolios">
        <td>porto.ProjectName</td>
        <td>porto.Role</td>
        <td>porto.Link</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-4">
      <input type="button" value="Add Portofolio"
             (click)="SavePortofolio(
               txtProjectName.value,
               txtRole.value,
               txtProjectImage.value,
               txtProjectDescription.value,
               txtProjectLink.value)" />
    </div>
  </div>

  <br />
  <br />
  --------------------------------------------- Services ---------------------------------------------
  <br />
  <br />
  Services
  <div class="row">
    <div class="col-sm-2">
      Service Name :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtServiceName" #txtServiceName ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Service Icon :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtServiceIcon" #txtServiceIcon ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Service Description :
    </div>
    <div class="col-sm-4">
      <textarea type="text" name="txtServiceDescription" #txtServiceDescription ngModel></textarea>
    </div>
  </div>

  <br />
  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name </th>
        <th>Icon </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service in services">
        <td>service.Name</td>
        <td>service.ServiceIcon</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-4">
      <input type="button" value="Add Service"
             (click)="SaveService(
               txtServiceName.value,
               txtServiceIcon.value,
               txtServiceDescription.value)" />
    </div>
  </div>

  <br />
  <br />
  --------------------------------------------- SKILLS ---------------------------------------------
  <br />
  <br />
  Skills
  <div class="row">
    <div class="col-sm-2">
      Skill Name :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtSkillName" #txtSkillName ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Skill Icon :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtSkillIcon" #txtSkillIcon ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Skill Color Icon :
    </div>
    <div class="col-sm-4">
      <textarea type="text" name="txtSkillColorIcon" #txtSkillColorIcon ngModel></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Degree :
    </div>
    <div class="col-sm-4">
      <textarea type="number" name="txtSkillDegree" #txtSkillDegree ngModel></textarea>
    </div>
  </div>

  <br />
  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name </th>
        <th>Degree </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let skill in skills">
        <td>skill.SkillName</td>
        <td>skill.Degree</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-4">
      <input type="button" value="Add Skill"
             (click)="SaveSkill(
               txtSkillName.value,
               txtSkillIcon.value,
               txtSkillColorIcon.value,
               txtSkillDegree.value)" />
    </div>
  </div>

  <br />
  <br />
  --------------------------------------------- SocialMedia ---------------------------------------------
  <br />
  <br />
  Skills
  <div class="row">
    <div class="col-sm-2">
      SocialMedia Name :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtSocialMediaName" #txtSocialMediaName ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Social Media Icon :
    </div>
    <div class="col-sm-4">
      <input type="text" name="txtSocialMediaIcon" #txtSocialMediaIcon ngModel />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      Social Media Link :
    </div>
    <div class="col-sm-4">
      <textarea type="text" name="txtSocialMediaColorIcon" #txtSocialMediaColorIcon ngModel></textarea>
    </div>
  </div>

  <br />
  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Social Media Name </th>
        <th>Social Media Icon </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sm in socialMedias">
        <td>sm.Name</td>
        <td>sm.SocialMediaIcon</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-4">
      <input type="button" value="Add Social Media"
             (click)="SaveSocialMedia(
    txtSocialMediaName.value,
    txtSocialMediaIcon.value,
    txtSocialMediaColorIcon.value)" />
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />-->

</div>
