    <!-- Start About  -->
    <section class="about" id="about">
        <div class="container">
            <div class="profile-img"  >
                <img src="assets/images/nooreddin.jpg" alt="profile image">
            </div>
            <div class="about-details">
                <div class="about-heading">
                    <h1>About</h1>
                    <h6>My self</h6>
                </div>
                <p>
                    My name is Noureddine, I work as a freelance web designer and developer. I graduated from Zarqa University in the field of computer science. Programming was my passion and it was what motivated me to complete my bachelor’s degree. I was excited to know how the programs we see in the Internet and other places around us work.
                </p>
                <div class="social-media">
                    <ul class="nav-list my-top-2 ">
                        <li>
                            <a href="https://www.linkedin.com/in/noordeen-daifallah-40a784183" class="icon" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </section>