<section class="experience" id="experience">
    <div class="container">
        <div class="section-heading">
            <h1>experience</h1>
            <h6>Past and Current jobs</h6>
        </div>
        <div class="timeline" >
            <ul>
                <li class="date" data-date="Present">
                    <h1>freelance web designer</h1>
                    <p>
                        
                    </p>
                </li>
            </ul>
        </div>
    </div>    
</section> 