<div class="my-education">
    <div class="edu-item" >
        <h1>ZARQA UNIVERSITY</h1>
        <h4>BACHELOR OF IT (COMPUTER SCIENCE)</h4>
        <h6>Graduation Project:</h6>
        <p>
            - Ecommerce Web Application for selling food based on web
             techniques such as PHP,SQL for backend language HTML5, CSS,
             Bootstrap, JQuery for frontend and design.</p>
    </div>
    <div class="edu-item" >
        <h1>PIONEERS ACADEMY</h1>
        <h4>WEB DEVELOPER</h4>
        <h6>CERTIFICATES: PEARSON(PHP (02/2019 - 06/2019)</h6>
        <p>
            - I completed 96 training hours in the field of developing web applications.</p>
    </div>
</div>